:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  /* background-image: url("./images/retro.jpg"); */
  /* background-image: url('./images/ben-konfrst-1327857-unsplash.jpg'); */
  background: url("./images/hence-the-boom-439955-unsplash.jpg") no-repeat
    center center fixed;
}

header {
  color: aquamarine;
  text-align: center;
  background-image: url("./images/ben-konfrst-1327857-unsplash.jpg");
  background-size: cover;
  background-position-y: 117rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  display: flex;
  flex-wrap: no-wrap;
}

.box ol li {
  flex: 0 0 33.3333%;
}

main ol li {
  border: 1rem solid black;
  background-color: lightgoldenrodyellow;
  list-style: none;
  margin-bottom: 1rem;
}

section {
  /* border: 15px dotted limegreen;
  background-color: lightgoldenrodyellow; */
  width: 70%;
  margin: 3rem;
  display: flex;
  justify-content: center;
}

section h2 {
  font-family: "Coiny";
}

a {
  text-decoration: none;
  color: rgb(199, 7, 109);
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

figure img {
  display: flex;
  width: 13rem;
  justify-content: center;
}

figcaption {
  color: rgb(78, 11, 76);
}

figcaption p {
  color: rgb(105, 13, 62);
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: bold;
}
